<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About me</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="about">
      <h1>About me</h1>
      <p>Name:Makar</p>
      <p>Surname:Kibirev</p>
      <p>Group:N4153c</p>
      <a href="https://github.com/MutedBrother">GitHub Profile</a>
    </div>
    <div class="picture">
      <img src="{{ url_for('static', filename='uIlIKCFWJW8.jpg') }}" alt="" />
    </div>
  </body>
</html>
